@{
    ViewBag.Title = "QuizPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>QuizPage</h2>

<head>
    <title> API</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
        var url = 'https://opentdb.com/api.php?';
        var amount = '1'
        var category = '@ViewData["Category"]'
        var difficulty = 'medium'
        var type = 'multiple'

        urlString = `${url}amount=${amount}&category=${category}&difficulty=${difficulty}&type=${type}`

        var random = Math.floor(Math.random() * 4);
            console.log(random);

            jQuery.getJSON(urlString, function (result) {
                var question_data = result.results[0]
                var question1 = question_data.question
            $(".question").append(question1)
                var answers = question_data.incorrect_answers;
                var correct_answer = question_data.correct_answer
                answers.splice(random, 0, correct_answer);
                $(".answer0").append(answers[0])
                $(".answer1").append(answers[1])
                $(".answer2").append(answers[2])
                $(".answer3").append(answers[3])
            });

    </script>

</head>
<body>
    <div class="question-container">
        <p class="question"></p>
        <button class="answer0"></button>
        <button class="answer1"></button>
        <button class="answer2"></button>
        <button class="answer3"></button>
    </div>
</body>
