
@{
    ViewBag.Title = "FinalScorePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FinalScorePage</h2>

<h5>Current Score: @TempData.Peek("finalScore")</h5>
<div>
    <p>
        <a href="@Url.Action("SubmitScoreAction", "Scoreboard")" class="btn btn-success">Submit Score</a>    
    </p>
</div>