
@{
    ViewBag.Title = "LogOutPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You are now logged out.</h2>
<h1>Thanks for playing!</h1>

<div>
    <p><a href="https://localhost:44338/" class="btn btn-primary btn-lg">Go to homepage &raquo;</a></p>
</div>