<!DOCTYPE html>

@{
    ViewBag.Title = "Question";
}
<head>
    <title> API</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="~/Scripts/JavaScript.js"></script>

</head>
<body>
    <div class="question-container">
        <p class="question"></p>
        <button class="answer0"></button>
        <button class="answer1"></button>
        <button class="answer2"></button>
        <button class="answer3"></button>
    </div>
</body>

