@using System;
@using System.Collections.Generic;

@{
    ViewBag.Title = "SelectCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select a category</h2>
<div>
    <p>
        <a href="@Url.Action("Prepare_Question", "Quiz", new { category = 15 })" class="btn btn-success">Games</a>
    </p>
</div>
<div>
    <p>
        <a href="@Url.Action("Prepare_Question", "Quiz", new { category = 17 })" class="btn btn-success">Science</a>
    </p>
</div>
<div>
    <p>
        <a href="@Url.Action("Prepare_Question", "Quiz", new { category = 23 })" class="btn btn-success">History</a>
    </p>
</div>