@using System;
@using System.Collections.Generic;
@using System.ComponentModel.DataAnnotations;
@using System.Net;

@{
    ViewBag.Title = "SelectCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select a category</h2>
@{
    foreach (QuizApp.Models.ScoreboardInputModel.SelectedCategory category in QuizApp.Models.ScoreboardInputModel.SelectedCategory.GetValues(typeof(QuizApp.Models.ScoreboardInputModel.SelectedCategory)))
    {
        <div>
            <p>
                <a href="@Url.Action("PrepareQuiz", "Quiz", new { category = (int)category })" class="btn btn-success">@category.ToString()</a>
            </p>
        </div>
    }
}